<% layout('/layouts/boilerplate')%>
<body>
<h1 class="text-center my-4">All Listings</h1>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% for(let listing of allListings) { %>
      <div class="col">
        <a href="/listings/<%= listing._id %>" style="text-decoration: none; color: inherit;">
          <div class="card h-100">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="...">

            <div class="card-body">
              <h5 class="card-title"><%= listing.title %></h5>
              <p class="card-text"><%= listing.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">&#8377; <%= listing.price.toLocaleString("en-IN") %></li>
            </ul>
          </div>
        </a>
      </div>
    <% } %>
  </div>
</div>
<br>

</body>



